CREATE OR ALTER PROCEDURE [dbo].[PMS2_New_Dash_SP_GetAnalyticalStats]
                                                                                                                                                                                               
    @FromDate DATE,
                                                                                                                                                                                                                                          
    @ToDate DATE
                                                                                                                                                                                                                                             
AS
                                                                                                                                                                                                                                                           
BEGIN
                                                                                                                                                                                                                                                        
    SET NOCOUNT ON;
                                                                                                                                                                                                                                          
    
                                                                                                                                                                                                                                                         
    DECLARE @StartOfMonth DATE = DATEFROMPARTS(YEAR(@ToDate), MONTH(@ToDate), 1);
                                                                                                                                                                            
    DECLARE @StartOfYear DATE = DATEFROMPARTS(YEAR(@ToDate), 1, 1);
                                                                                                                                                                                          
    
                                                                                                                                                                                                                                                         
    DECLARE @DayOfMonth INT = DAY(@ToDate);
                                                                                                                                                                                                                  
    IF @DayOfMonth = 0 SET @DayOfMonth = 1;
                                                                                                                                                                                                                  

                                                                                                                                                                                                                                                             
    -- =============================================
                                                                                                                                                                                                         
    -- 1. KPIs & Details Preparation
                                                                                                                                                                                                                         
    -- =============================================
                                                                                                                                                                                                         
    CREATE TABLE #Stats (
                                                                                                                                                                                                                                    
        SectionId VARCHAR(50),
                                                                                                                                                                                                                               
        Category VARCHAR(100),
                                                                                                                                                                                                                               
        Date DATE,
                                                                                                                                                                                                                                           
        Qty DECIMAL(18,2)
                                                                                                                                                                                                                                    
    );
                                                                                                                                                                                                                                                       

                                                                                                                                                                                                                                                             
    -- Insert Coal Prod (MaterialId = 7)
    INSERT INTO #Stats (SectionId, Category, Date, Qty)
    SELECT 'coal_prod', ISNULL(T12.SectorName, 'Unknown'), CAST(T0.LoadingDate AS DATE), T0.TotalQty
    FROM Trans.TblLoading T0 WITH(NOLOCK)
    JOIN [Master].TblShift T1 WITH(NOLOCK) on T1.SlNo=T0.ShiftId
    JOIN [Master].TblSource T2 WITH(NOLOCK) on T2.SlNo=T0.SourceId
    JOIN [Master].TblDestination T3 WITH(NOLOCK) on T3.SlNo=T0.DestinationId
    JOIN [Master].TblEquipment T4 WITH(NOLOCK) on T4.SlNo=T0.HaulerEquipmentId
    JOIN [Master].TblEquipment T5 WITH(NOLOCK) on T5.SlNo=T0.LoadingMachineEquipmentId
    JOIN [Master].TblMaterial T6 WITH(NOLOCK) on T6.SlNo=T0.MaterialId
    JOIN [Master].TblScale T7 WITH(NOLOCK) on T7.SlNo=T4.ScaleId
    JOIN [Master].TblRelay T8 WITH(NOLOCK) on T8.SlNo=T0.RelayId
    JOIN [Master].TblEquipmentGroup T9 WITH(NOLOCK) on T9.SlNo=T4.EquipmentGroupId
    JOIN [Master].TblEquipmentGroup T10 WITH(NOLOCK) on T10.SlNo=T5.EquipmentGroupId
    LEFT JOIN [Trans].TblEquipmentReading T11 WITH(NOLOCK) on 
            CONVERT(date,T11.Date)=CONVERT(date,T0.LoadingDate) 
        AND T11.ShiftId=T0.ShiftId 
        AND T11.EquipmentId=T0.LoadingMachineEquipmentId 
        AND T11.IsDelete=0
    LEFT JOIN [Master].TblSector T12 WITH(NOLOCK) on T12.SlNo=T11.SectorId 
    WHERE T0.IsDelete = 0 
      AND T0.MaterialId = 7 
      AND CAST(T0.LoadingDate AS DATE) <= @ToDate 
      AND YEAR(T0.LoadingDate) = YEAR(@ToDate);

    -- Insert OB Removal (MaterialId IN (1, 2))
    INSERT INTO #Stats (SectionId, Category, Date, Qty)
    SELECT 'ob_rem', ISNULL(T12.SectorName, 'Unknown'), CAST(T0.LoadingDate AS DATE), T0.TotalQty
    FROM Trans.TblLoading T0 WITH(NOLOCK)
    JOIN [Master].TblShift T1 WITH(NOLOCK) on T1.SlNo=T0.ShiftId
    JOIN [Master].TblSource T2 WITH(NOLOCK) on T2.SlNo=T0.SourceId
    JOIN [Master].TblDestination T3 WITH(NOLOCK) on T3.SlNo=T0.DestinationId
    JOIN [Master].TblEquipment T4 WITH(NOLOCK) on T4.SlNo=T0.HaulerEquipmentId
    JOIN [Master].TblEquipment T5 WITH(NOLOCK) on T5.SlNo=T0.LoadingMachineEquipmentId
    JOIN [Master].TblMaterial T6 WITH(NOLOCK) on T6.SlNo=T0.MaterialId
    JOIN [Master].TblScale T7 WITH(NOLOCK) on T7.SlNo=T4.ScaleId
    JOIN [Master].TblRelay T8 WITH(NOLOCK) on T8.SlNo=T0.RelayId
    JOIN [Master].TblEquipmentGroup T9 WITH(NOLOCK) on T9.SlNo=T4.EquipmentGroupId
    JOIN [Master].TblEquipmentGroup T10 WITH(NOLOCK) on T10.SlNo=T5.EquipmentGroupId
    LEFT JOIN [Trans].TblEquipmentReading T11 WITH(NOLOCK) on 
            CONVERT(date,T11.Date)=CONVERT(date,T0.LoadingDate) 
        AND T11.ShiftId=T0.ShiftId 
        AND T11.EquipmentId=T0.LoadingMachineEquipmentId 
        AND T11.IsDelete=0
    LEFT JOIN [Master].TblSector T12 WITH(NOLOCK) on T12.SlNo=T11.SectorId 
    WHERE T0.IsDelete = 0 
      AND T0.MaterialId IN (1, 2) 
      AND CAST(T0.LoadingDate AS DATE) <= @ToDate 
      AND YEAR(T0.LoadingDate) = YEAR(@ToDate);
                                                                                                                      

                                                                                                                                                                                                                                                             
    -- Insert Crushing
                                                                                                                                                                                                                                       
    INSERT INTO #Stats (SectionId, Category, Date, Qty)
                                                                                                                                                                                                      
    SELECT 'crushing', 'Plant ' + CAST(ISNULL(C.PlantId, 0) AS VARCHAR), CAST(C.Date AS DATE), C.ProductionQty
                                                                                                                                               
    FROM Trans.TblCrusher C WITH(NOLOCK)
                                                                                                                                                                                                                     
    WHERE C.IsDelete = 0 AND CAST(C.Date AS DATE) <= @ToDate AND YEAR(C.Date) = YEAR(@ToDate);
                                                                                                                                                               

                                                                                                                                                                                                                                                             
    -- Insert Dispatch (Using Master.TblLocation)
                                                                                                                                                                                                            
    INSERT INTO #Stats (SectionId, Category, Date, Qty)
                                                                                                                                                                                                      
    SELECT 'dispatch', ISNULL(L.LocationName, 'Unknown'), CAST(D.Date AS DATE), D.TotalQty
                                                                                                                                                                   
    FROM Trans.TblDispatchEntry D WITH(NOLOCK)
                                                                                                                                                                                                               
    LEFT JOIN Master.TblLocation L WITH(NOLOCK) ON D.DispatchLocationId = L.SlNo
                                                                                                                                                                             
    WHERE D.IsDelete = 0 AND CAST(D.Date AS DATE) <= @ToDate AND YEAR(D.Date) = YEAR(@ToDate);
                                                                                                                                                               

                                                                                                                                                                                                                                                             
    -- Insert Coal Rehandling
                                                                                                                                                                                                                                
    INSERT INTO #Stats (SectionId, Category, Date, Qty)
                                                                                                                                                                                                      
    SELECT 'coal_re', 'Rehandling', CAST(R.RehandlingDate AS DATE), R.TotalQty
                                                                                                                                                                               
    FROM Trans.TblMaterialRehandling R WITH(NOLOCK)
                                                                                                                                                                                                          
    WHERE R.IsDelete = 0 AND R.MaterialId = 7 AND CAST(R.RehandlingDate AS DATE) <= @ToDate AND YEAR(R.RehandlingDate) = YEAR(@ToDate);
                                                                                                                      

                                                                                                                                                                                                                                                             
    -- Insert OB Rehandling
                                                                                                                                                                                                                                  
    INSERT INTO #Stats (SectionId, Category, Date, Qty)
                                                                                                                                                                                                      
    SELECT 'ob_re', 'Rehandling', CAST(R.RehandlingDate AS DATE), R.TotalQty
                                                                                                                                                                                 
    FROM Trans.TblMaterialRehandling R WITH(NOLOCK)
                                                                                                                                                                                                          
    WHERE R.IsDelete = 0 AND R.MaterialId = 5 AND CAST(R.RehandlingDate AS DATE) <= @ToDate AND YEAR(R.RehandlingDate) = YEAR(@ToDate);
                                                                                                                      

                                                                                                                                                                                                                                                             
    -- =============================================
                                                                                                                                                                                                         
    -- OUTPUT 1: KPIs
                                                                                                                                                                                                                                        
    -- =============================================
                                                                                                                                                                                                         
    SELECT 
                                                                                                                                                                                                                                                  
        SectionId,
                                                                                                                                                                                                                                           
        SUM(CASE WHEN Date = @ToDate THEN Qty ELSE 0 END) AS FTD,
                                                                                                                                                                                            
        SUM(CASE WHEN Date >= @StartOfMonth AND Date <= @ToDate THEN Qty ELSE 0 END) AS MTD,
                                                                                                                                                                 
        CAST(SUM(CASE WHEN Date >= @StartOfMonth AND Date <= @ToDate THEN Qty ELSE 0 END) / NULLIF(@DayOfMonth, 0) AS DECIMAL(18,2)) AS Avg,
                                                                                                                 
        SUM(CASE WHEN Date >= @StartOfYear AND Date <= @ToDate THEN Qty ELSE 0 END) AS YTD
                                                                                                                                                                   
    FROM #Stats
                                                                                                                                                                                                                                              
    GROUP BY SectionId;
                                                                                                                                                                                                                                      

                                                                                                                                                                                                                                                             
    -- =============================================
                                                                                                                                                                                                         
    -- OUTPUT 2: Details
                                                                                                                                                                                                                                     
    -- =============================================
                                                                                                                                                                                                         
    SELECT 
                                                                                                                                                                                                                                                  
        SectionId,
                                                                                                                                                                                                                                           
        Category,
                                                                                                                                                                                                                                            
        SUM(CASE WHEN Date = @ToDate THEN Qty ELSE 0 END) AS FTD,
                                                                                                                                                                                            
        SUM(CASE WHEN Date >= @StartOfMonth AND Date <= @ToDate THEN Qty ELSE 0 END) AS MTD,
                                                                                                                                                                 
        CAST(SUM(CASE WHEN Date >= @StartOfMonth AND Date <= @ToDate THEN Qty ELSE 0 END) / NULLIF(@DayOfMonth, 0) AS DECIMAL(18,2)) AS Avg,
                                                                                                                 
        SUM(CASE WHEN Date >= @StartOfYear AND Date <= @ToDate THEN Qty ELSE 0 END) AS YTD,
                                                                                                                                                                  
        0 AS IsTotal
                                                                                                                                                                                                                                         
    FROM #Stats
                                                                                                                                                                                                                                              
    GROUP BY SectionId, Category
                                                                                                                                                                                                                             
    UNION ALL
                                                                                                                                                                                                                                                
    SELECT 
                                                                                                                                                                                                                                                  
        SectionId,
                                                                                                                                                                                                                                           
        'Total' AS Category,
                                                                                                                                                                                                                                 
        SUM(CASE WHEN Date = @ToDate THEN Qty ELSE 0 END) AS FTD,
                                                                                                                                                                                            
        SUM(CASE WHEN Date >= @StartOfMonth AND Date <= @ToDate THEN Qty ELSE 0 END) AS MTD,
                                                                                                                                                                 
        CAST(SUM(CASE WHEN Date >= @StartOfMonth AND Date <= @ToDate THEN Qty ELSE 0 END) / NULLIF(@DayOfMonth, 0) AS DECIMAL(18,2)) AS Avg,
                                                                                                                 
        SUM(CASE WHEN Date >= @StartOfYear AND Date <= @ToDate THEN Qty ELSE 0 END) AS YTD,
                                                                                                                                                                  
        1 AS IsTotal
                                                                                                                                                                                                                                         
    FROM #Stats
                                                                                                                                                                                                                                              
    GROUP BY SectionId;
                                                                                                                                                                                                                                      

                                                                                                                                                                                                                                                             
    -- =============================================
                                                                                                                                                                                                         
    -- Chart Data Prep
                                                                                                                                                                                                                                       
    -- =============================================
                                                                                                                                                                                                         
    -- 3. Hauling Chart
    SELECT TOP 10
        E.EquipmentName,
        CAST(SUM(ISNULL(L.NoofTrip, 0)) AS DECIMAL(18,2)) / NULLIF(SUM(ISNULL(R.TotalWorkingHr, 0)), 0) as Productivity, 
        CAST(SUM(ISNULL(R.TotalWorkingHr, 0)) AS DECIMAL(18,2)) as WorkingHours,
        'Hauling' as Type
    FROM Trans.TblEquipmentReading R WITH(NOLOCK)
    JOIN Master.TblEquipment E WITH(NOLOCK) ON R.EquipmentId = E.SlNo 
    LEFT JOIN Trans.TblLoading L WITH(NOLOCK) ON L.HaulerEquipmentId = E.SlNo 
               AND CAST(L.LoadingDate AS DATE) = CAST(R.Date AS DATE)
               AND L.ShiftId = R.ShiftId
               AND L.IsDelete = 0
    WHERE R.IsDelete = 0
      AND R.ActivityId = 4 -- Hauling Activity
      AND CAST(R.Date AS DATE) BETWEEN @FromDate AND @ToDate
      AND E.IsDelete = 0
    GROUP BY E.EquipmentName
    HAVING SUM(ISNULL(L.NoofTrip, 0)) > 0 OR SUM(ISNULL(R.TotalWorkingHr, 0)) > 0
                                                                                                                                                                            
    ORDER BY Productivity DESC;
                                                                                                                                                                                                                              

                                                                                                                                                                                                                                                             
    -- 4. Loading Chart
    SELECT TOP 10
        E.EquipmentName,
        CAST(SUM(ISNULL(L.TotalQty, 0)) AS DECIMAL(18,2)) / NULLIF(SUM(ISNULL(R.TotalWorkingHr, 0)), 0) as Productivity, 
        CAST(SUM(ISNULL(R.TotalWorkingHr, 0)) AS DECIMAL(18,2)) as WorkingHours,
        'Loading' as Type
    FROM Trans.TblEquipmentReading R WITH(NOLOCK)
    JOIN Master.TblEquipment E WITH(NOLOCK) ON R.EquipmentId = E.SlNo 
    LEFT JOIN Trans.TblLoading L WITH(NOLOCK) ON L.LoadingMachineEquipmentId = E.SlNo 
               AND CAST(L.LoadingDate AS DATE) = CAST(R.Date AS DATE)
               AND L.ShiftId = R.ShiftId
               AND L.IsDelete = 0
    WHERE R.IsDelete = 0
      AND R.ActivityId = 3 -- Loading Activity
      AND CAST(R.Date AS DATE) BETWEEN @FromDate AND @ToDate
      AND E.IsDelete = 0
    GROUP BY E.EquipmentName
    HAVING SUM(ISNULL(L.TotalQty, 0)) > 0 OR SUM(ISNULL(R.TotalWorkingHr, 0)) > 0
                                                                                                                                                                            
    ORDER BY Productivity DESC;
                                                                                                                                                                                                                              

                                                                                                                                                                                                                                                             
    DROP TABLE #Stats;
                                                                                                                                                                                                                                       
END
                                                                                                                                                                                                                                                          
